/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 15 de mar. de 2023, 19:50:13
    Author     : Vinicius
*/

.button{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 5px;
    -fx-text-fill: #4a4a4a;
}

.button_fundobranco{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 5px;
    -fx-border-color: #2B49B3;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-text-fill: #4a4a4a;
}

.button_fundobranco:hover{
    -fx-background-color: #2B49B3;
    -fx-background-radius: 5px;
    -fx-border-color: #2B49B3;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-text-fill: #FFFFFF;
}

.button:hover{
    -fx-background-color: #2B49B3;
    -fx-background-radius: 5px;
    -fx-text-fill: #FFFFFF;
}

.button_verde:hover{
    -fx-background-color: #7DCAA2;
    -fx-background-radius: 5px;
    -fx-text-fill: #FFFFFF;
}

.button_verde:hover .icone {
  -fx-fill: #FFFFFF;
}

.button_vermelho{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 5px;
    -fx-border-color: #E5707A;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-text-fill: #4a4a4a;
}

.button_vermelho:hover{
    -fx-background-color: #E5707A;
    -fx-background-radius: 5px;
    -fx-text-fill: #FFFFFF;
}

.button_vermelho:hover .icone {
  -fx-fill: #FFFFFF;
}

.sidebar{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30px 30px 0px 0px;
}

.icones{
    -fx-fill: #000000;
}

.icones:hover{
    -fx-fill: #2B49B3;
}

.icones_verde:hover{
    -fx-fill: #7DCAA2;
}

.icones_branco{
    -fx-fill: #000000;
}

.icones_branco:hover{
    -fx-fill: #FFFFFF;
}

.pane{
    -fx-background-color:#FFFFFF;
    -fx-background-radius:0px 0px 30px 30px;
}

.pane_boxcliente{
    -fx-border-color: linear-gradient(to right, #1A3384, #2B49B3);
    -fx-border-width: 3px;
    -fx-border-radius: 30px 30px 30px 30px;
    -fx-background-color:#FFFFFF;
    -fx-background-radius:30px 30px 30px 30px;
}

.pane_boxcliente_selecionado{
    -fx-border-color: #7DCAA2;
    -fx-border-width: 3px;
    -fx-border-radius: 30px 30px 30px 30px;
    -fx-background-color:#FFFFFF;
    -fx-background-radius:30px 30px 30px 30px;
}


.pane_boxcliente_superior{
    -fx-background-color: #FFFFFF;
    -fx-background-radius:30px 30px 30px 30px;
}

.TextField{
    -fx-background-color: transparent;
    -fx-border-color: #000000;
    -fx-border-width: 0px 0px 2px 0px;
}

.TextField:focused{
    -fx-border-color: #2B49B3;
}

.date-picker{
    -fx-border-color: #000000;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-background-color: transparent;
}

.date-picker .text-field{
    -fx-background-color: transparent;
}

.date-picker:focused{
     -fx-border-color: #2B49B3;
}

.date-picker .arrow-button {
	-fx-background-color: #FFFFFF;
	-fx-background-radius: 0;
        -fx-border-color: #FFFFFF;
}
.date-picker .arrow-button:hover {
	-fx-background-color: #2B49B3;
}
.date-picker .arrow-button .arrow {
	-fx-background-color: #2B49B3;
}

.date-picker .arrow-button:hover .arrow {
	-fx-background-color: white;
}

.date-picker .cell {
	-fx-background-color: white;
}
.date-picker .cell:hover {
	-fx-background-color: #2B49B3;
}
.date-picker .cell:focused {
	-fx-background-color: #2B49B3;
}
.date-picker .selected {
	-fx-background-color: #2B49B3;
	-fx-text-fill: white;
}
.date-picker .selected:focused {
	-fx-background-color: #2B49B3;
	-fx-text-fill: white;
}
.date-picker-popup  {
	-fx-border-color: transparent;
}
.date-picker-popup .month-year-pane {
	-fx-background-color: white;
}
.date-picker-popup .month-year-pane .label {
	-fx-text-fill: #000000;
}
.date-picker-popup .week-number-cell {
	-fx-text-fill: #000000;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: #000000;
}

.combo-box{
    -fx-border-color: #000000;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-background-color: transparent;
}

.combo-box:focused{
     -fx-border-color: #2B49B3;
}

.combo-box .arrow-button {
	-fx-background-color: #FFFFFF;
	-fx-background-radius: 0;
        -fx-border-color: #FFFFFF;
}
.combo-box .arrow-button:hover {
	-fx-background-color: #2B49B3;
}
.combo-box .arrow-button .arrow {
	-fx-background-color: #2B49B3;
}

.combo-box .arrow-button:hover .arrow {
	-fx-background-color: white;
}

.radio-button .radio{
    -fx-background-color: transparent;
    -fx-border-color:#000000;
    -fx-border-radius: 45px;
    -fx-border-width: 1px;
}

.radio-button:selected .radio .dot{
    -fx-background-color: #2B49B3;
    -fx-background-insets: 0;
}

.text-area{
    -fx-border-color: #000000;
    -fx-border-width: 0 0 2px 0;
    -fx-background-color: #F3F3F3;
}

.text-area:focused{
    -fx-border-color: #2B49B3;
}

.text-area .content{
    -fx-background-color: #FFFFFF;
}

.table-view{
    -fx-border-width: 0;
}
.table-view .column-header-background{
    -fx-background-color: #ffffff;
    -fx-border-color:#2B49B3;
    -fx-border-width: 2px;
    -fx-border-radius: 30px 30px 0px 0px;
    -fx-background-radius: 30px 30px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.dialog{
    -fx-background-color: #F3F3F3;
    margin: 10px;
}

.dialog:header .header-panel{
    -fx-background-color: #F3F3F3;
}

.dialog:header .header-panel .label{
    -fx-font-size: 20px;
    -fx-font-style: bold;
}

.dialog .button{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 5px;
    -fx-border-color: #2B49B3;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-text-fill: #4a4a4a;
}

.dialog .button:hover{
    -fx-background-color: #2B49B3;
    -fx-background-radius: 5px;
    -fx-border-color: #2B49B3;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-text-fill: #FFFFFF;
}

.dialog .button:cancel{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 5px;
    -fx-border-color: #E5707A;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-text-fill: #4a4a4a;
}

.dialog .button:cancel:hover{
    -fx-background-color: #E5707A;
    -fx-background-radius: 5px;
    -fx-text-fill: #FFFFFF;
}



